{% extends 'polls/base.html' %}
{% block title %}{{ post.title }} - 文学天地{% endblock %}
{% block headmesage %}
    <h3 style="font-family: 微软雅黑;">
        {{ post.title }}
    </h3>

{% endblock %}
{% block content %}
    <p style="font-family: 微软雅黑; font-size: 12px; letter-spacing: 2pt;">
        {{ post.body }}
    </p>
    <a href="/">回到首页</a>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临我的博客</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
<hr>
{% for post in posts %}
    <p style="font-family: 微软雅黑;font-size: 16px;font-weight: bold;">
        <h2>{{ post.body }}</h2>
    </p>

    {% endfor %}
</hr>
    <h3><a href="/">回首页</a> </h3>
<h3>现在时刻：{{ now }}</h3>
</body>
</html>
-->

