{% extends 'polls/base.html' %}
{% block title %} 欢迎光临我的博客 {% endblock %}

{% block headmesage %}
    <h3 style="font-family: 楷体">本站文章列表</h3>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <p style="font-family: 微软雅黑; font-size: 14px; font-weight: bold;">
            <a href="/polls/{{ post.slug }}">{{ post.title }}</a>
        </p>
    {% endfor %}
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临我的博客</title>
</head>
<body>
    <h1>
        欢迎光临我的博客
    </h1>
{% for post in posts %}
    <p style="font-family: 微软雅黑; font-size: 14px;font-weight: bold;">
    <a href="/polls/{{ post.slug }}">{{ post.title }}</a>
    </p>
{% endfor %}
<hr>
<h3>现在的时刻：{{ now }}</h3>
</body>
</html>
-->


