{#{% extends 'polls/base.html' %}#}
{#{% block title %} 表单 {% endblock %}#}

{% if product.errors %}
<p>
    数据出错拉，错误信息:{{ product.errors }}
</p>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ product.as_table }}
    </table>
    <input type="submit" value="提交">
</form>
{% endif %}
{#<body>#}
{#<form action="" method="post">#}
{#    First name:<br>#}
{#    <input type="text" name="first name" value="jingrui">#}
{#    <br>#}
{#    Laste name:<br>#}
{#    <input type="text" name="laste name" value="bi">#}
{#    <br><br>#}
{#    <input type="submit" value="Submit">#}
{#</form>#}
{#</body>#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}