Django==2.0.12
Jinja2==2.10.1
pyecharts==1.5.1
paramiko==2.6.0
redis==3.3.8
djangorestframework==3.10.2
django-crontab==0.7.1
django-simpleui==3.2
mysqlclient==1.4.4
IPy==1.0
django-inline-actions==2.3.0